---
layout: page
title: 'Reprothon 2021'
---

<p>Hackathon on reproducibility and longevity of R code - 2021.</p>

<h3 id="what-is-it-all-about">What is it all about?</h3>

Reproducibility is important across all research, whether this is open access articles, repeatable results or giving access to code and data used for a paper. However, if you have ever tried to rerun old code and it has failed, you are not alone! 

<p>So what can we do maximise the longevity, and therefore reproducibility, of our code? That is what the ASG Reprothon 2021 aims to answer! Collating data on code reproducibility for the first time, the Reprothon will provide robust evidence on what factors are determining the longevity of code.</p> 
<br>
<p>We hope to share the results at the end of this event with the aim to provide researchers with guidelines to ensure their code remains usable beyond publishing.</p>
<br>
<h3 id="what-is-a-hackathon">So what is a hackathon?</h3>  
<br>
A hackathon is an event where lots of people come together to work on a coding or programming problem. The Reprothon is ASG’s very own hackathon! 
<br>
In our Reprothon, we are aiming to determine what factors affect the reproducibility of R code. 
<br>
<p>To do this, contributors will work through queries taken from <a href="https://stackoverflow.com/)">StackOverflow</a>, <u> checking whether or not the accepted answer still works </u>. Each participant will input this into the <a href="https://aberdeenstudygroup.github.io/Reprothon2021/sheet.html">master spreadsheet</a> along with details such as the package used and any error that occured. We will track our progress live, and after the closing date, the organisers will analyse this data and produce a blog with our findings.
<br>
If you want a look at what a previous hackathon for MozSprint was like, our founder <a href="https://github.com/FrancescaMancini">Francesca Mancini</a> shared her experience in 2017 as a <a href="https://francescamancini.github.io/MozSprint/">blog.</a></p>
<br>
<h3 id="the-details">The details</h3>

<p><strong>Where</strong>: MSTeams</p>

<p><strong>When</strong>: in person 9th June 2021, 1600-1800 BST, and will remain live until <em>TBC</em></p>
<br>
<p>The session will be open for all contributors to pop in and out in their own time and will provide a space to chat with other contributors, but also watch real-time as the project moves forward.</p>
<br>
<p>If you want to get involved, we have a quick <a href="https://forms.gle/u4QcUBRfieV2H7fV9">registration form</a> to complete, which when completed will provide you with your unique Reprothon ID by email. 
<br>

<h3 id="requirements">Requirements</h3>
<p>This event is open to anyone interested! However, as it will be focused on testing code there are a few requirements you might need to consider:</p>

<ul>
  <li>good WiFi or some way of connecting to the Internet</li>
  <li>R version 4.0+ (if you need to update R you can do that following the guide <a href="https://uvastatlab.github.io/phdplus/installR.html">here</a> )</li>
  <li>ability to install packages in R</li>
  <li>familiarity with StackOverlow posts</li>
</ul>

<p><em>Optional</em>: A Github Account (this is free). You will still be able to access all the information on Github, but if you want to propose any changes or bring up any issues you will need an account.</p>


<!-- Lesson section -->

<div class="container">
<div class="row">
<div class="col-sm-6">
<h2>Want more Information?</h2>
{% for topic in site.repro %}
<h3>{{ topic | capitalize }}</h3>

<ul>
  {% assign pages_list = site.pages | sort: 'title' %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.visible == true %}
        {% if node.tags contains topic %}
          <li><a href="{{ site.github.url | replace:'http:','https:' }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}  <!-- node -->
</ul>
{% endfor %}  <!-- topic -->
</div>


</div>
</div>
